body {
    background-color : #fff;
}.para {
    color : red;
}.avatar_container {
    width : 200px;
    height : 200px;
    object-fit : contain;
    border: 1px dotted dodgerblue;
    img {
        width : auto;
        height : auto;
    }
}
